body{
	font-family: 'Roboto', sans-serif;
}

header{
	font-size: 38px;
	padding: 12px 49px 30px;
}

.navbar {
  width: 100%;
  background-color: #9932CC;
  overflow: hidden;
  margin: 0 ;
  padding: 0px 4px ;
}

.navbar a {
  float: left;
  padding: 12px 47px;
  color: white;
  text-decoration: none;
  font-size: 19px;
  text-align: center;
}

.navbar a:hover {
  background-color:#9400D3;
}

#h3{
	padding: 15px 55px 0px;
}

#leftbox{
	text-align: left;
	padding: 0px 55px;
	font-size: 19px;
	float: left;
	width: 45%;
	font-family: 'Roboto', sans-serif;
}

#rightbox{
	float: right;
	width: 38%;
	padding: 15px;
}

#ul {
  list-style-type: disc;
  background-color: white;
  border: none;
}
#li{
  font-size: 19px;
  padding:11px;
  float: none;
}
#a{
  color: black;
  text-align: left;
  text-decoration: none;
}
#a:hover{
  color: #9400D3;
}


